<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>lab3</display-name>

  <!-- servlets -->
  <servlet>
      <servlet-name>Dossiers</servlet-name>
      <servlet-class>ca.etsmtl.log720.lab3.servlets.DossiersServlet</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>Dossiers</servlet-name>
      <url-pattern>/dossiers</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>Dossiers</servlet-name>
      <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Utilisateurs</servlet-name>
    <servlet-class>ca.etsmtl.log720.lab3.servlets.UtilisateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Utilisateurs</servlet-name>
    <url-pattern>/utilisateurs</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>Infractions</servlet-name>
      <servlet-class>ca.etsmtl.log720.lab3.servlets.InfractionServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Infractions</servlet-name>
    <url-pattern>/infractions</url-pattern>
  </servlet-mapping>

  <!-- Login -->

  <servlet>
      <servlet-name>Logout</servlet-name>
      <servlet-class>ca.etsmtl.log720.lab3.servlets.LogoutServlet</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>Logout</servlet-name>
      <url-pattern>/logout.jsp</url-pattern>
  </servlet-mapping>

  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>DEV</realm-name>
    <form-login-config>
        <form-login-page>/login.jsp</form-login-page>
        <form-error-page>/login_error.jsp</form-error-page>
    </form-login-config>
  </login-config>

  <context-param>
    <param-name>org.eclipse.jetty.servlet.SessionPath</param-name>
    <param-value>/</param-value>
  </context-param>

  <resource-ref>
    <description>ETS DataSource</description>
    <res-ref-name>jdbc/pg</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <!-- roles -->
  <security-role>
    <role-name>administrateur</role-name>
  </security-role>

  <security-role>
    <role-name>utilisateur</role-name>
  </security-role>

  <security-constraint>
  <web-resource-collection>
    <web-resource-name>websiteAuth</web-resource-name>
    <url-pattern>/infractions</url-pattern>
    <url-pattern>/dossiers</url-pattern>
    <http-method>GET</http-method>
    <http-method>POST</http-method>
  </web-resource-collection>
  <auth-constraint>
    <role-name>administrateur</role-name>
    <role-name>utilisateur</role-name>
  </auth-constraint>
  <user-data-constraint>
    <transport-guarantee>NONE</transport-guarantee>
  </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>UserCreationDomain</web-resource-name>
      <url-pattern>/utilisateurs</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>administrateur</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
</web-app>
